.search-results {
    padding-left: 16%;
    padding-top: 2%;
}

.search-results-card {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.search-results-card img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.search-results-card h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
    line-height: 2rem;
}

.search-video-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
}

.search-video-info p {
    color: #5a5a5a;
}

.search-channel {
    font-weight: 600;
}
