.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;
    column-gap: 15px;
    margin-top: 15px;
}

.thumbnail-box {
  position: relative;
  width: 100%;
}

.thumbnail-box img {
  width: 100%;
  border-radius: 6px;
}

.thumbnail-box .duration {
  position: absolute;
  right: 6px;
  bottom: 8px;
  background: rgba(0,0,0,0.85);
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: 600;
}

.card h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 1px;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
}

.card h3 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.card p {
    font-size: 14px;
}