.sidebar {
    width: 15%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top:80px ;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.sidebar:hover::-webkit-scrollbar {
  width: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.shortcut-links img {
    width: 20px;
    margin-right: 20px;
}

.side-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3 {
    font-size: 15px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}

.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}

.side-link.active p {
    font-weight: 600;
}

.side-link.active {
    width: 100%;
    background-color: #b8b3b343;
    padding: 8px 8px;
    border-radius: 12px;
}

@media screen and (max-width:900px) {
    .sidebar {
        display: none;
    }
}