.recommended {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    flex-basis: 49%;
    width: 50%;
    border-radius: 5px;
}

.side-title{
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
}


.vid-info {
    flex-basis: 49%;
}

.vid-info h4 {
    font-size: 16px;
    margin-bottom: 10px
}

.vid-info p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

@media screen and (max-width:900px) {
    .recommended {
        flex-basis: 100%;
    }
}

.recommended-channel {
    font-size: 12px;
    font-weight: 600;
}